:root {
    --main: #88B44E;
    --second: #FDDD45;
    --gray: #F5F8F2;
    --gray-dark: rgba(0, 0, 0, 0.1);
    --gray-light: rgba(0, 0, 0, 0.1);
    --white: #ffffff;
    --black: #252C30;
    --font-main: 'Open Sans';
    --font-headers: 'Playfair Display';
  }