.topbar-wrapp {
    color: #fff;
    background-color: #88B44E;
    .topbar-left {
        font-size: 14px;
        span {
            margin-left: 10px;
            @media (min-width:768px) {
                margin-left: 40px;
            }
            &.phone {
                font-weight: bold;
            }
        }
    }
}
.navbar.navbar-dark {
    background-color: #252C30;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    .navbar-nav {
        .nav-link {
            padding: 4px 18px 0;
            color: #fff;
        }
    }
    img {
        max-height: 63px;
        max-width: 200px;
        @media (max-width: 768px) {
            max-width: 144px;
        }
    }
    ul>li.nav-item {
        a {
            &::after {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 14px;
                vertical-align: middle;
                content: "\f105";
                font-weight: 400;
                margin: 4px 0 0 6px;
                position: absolute;
                transition: color 0.5s ease;
            }
        }
    }
}
header {
    background-attachment: fixed;
    background-size: cover;
    min-height: 365px;
    color: #fff;
    text-align: left;
    position: relative;
    margin: 0;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 9px;
    margin: 0 0 20px;
    border-bottom: 1px solid #eee;
    h1 {
        margin: 0;
        color: #fff;
        position: relative;
        z-index: 11;
        font-size: 48px;
    }
    .breadcrumbs {
        list-style: none;
        margin: 10px 0 5px 0;
        padding: 0;
        >span {
            display: inline-block;
            margin: 0 0 0 0px;
            font-size: 16px;
            color: #fff;
            font-family: 'Playfair Display', sans-serif;
            font-weight: 700;
            @media (max-width: 768px) {
                font-size: 14px;
              }
              a {
                color: #88B44E;
                font-style: normal;
                &:hover {
                    color: #fff;
                  }
              }
              &:not(:last-child)::after {
                margin: 4px 7px 0 12px;
                vertical-align: middle;
                padding-bottom: 4px;
                content: "\f054";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 8px;
                font-weight: 400;
                color: #88B44E;
              }
          }
      }
}

.navbar-logo {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.navbar-layout-desktop-center-absolute {
    min-height: 300px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;
    padding-top: 20px;
    overflow: hidden;
    li {
        margin-right: 10px;
        a {
            font-size: 18px;
        }
    }
    li:not(.active) {
        a {
            color: #fff;
        }
    }
    li.menu-item-has-children {
        > a::after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 14px;
            vertical-align: middle;
            content: "\f105";
            font-weight: 400;
            margin: 4px 0 0 6px;
            position: absolute;
            transition: color 0.5s ease;
        }
        &:hover {
            > a::after {
                content: "\f107";
                margin-top: 4px;
                margin-left: 6px;
            }
        }
    }
    .navbar-logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        top:100px;
        img {
            max-width: 150px;
            @media (max-width: 768px) {
                max-width: 130px;
            }
        }
    }
    .navbar-desktop {
        text-align: center;
        justify-content: center;
        margin-top: 150px;
        padding-top: 60px;
        z-index: 4;
        &.show {
            @media (max-width:768px) {
                transform: inherit;
                zoom: 1;
                filter: alpha(opacity=100);
                -webkit-opacity: 1;
                -moz-opacity: 1;
                opacity: 1;
                margin: 0px 0 0;
                padding: 0px 0 0px 0 !important;
                background-color: #252C30;
                background-color: var(--black);
                top: 0px;
                bottom: 0px;
                left: auto;
                right: 0;
                position: fixed;
                z-index: 1000020;
                height: 100%;
                width: 100%;
                max-height: 100% !important;
                display: block;
                overflow: scroll;
                text-align: left;
                min-width: 0;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                border-top: none;
            }         
        }

        ul.navbar-nav a {
            padding: 4px 18px 0;
            position: relative;
            font-weight: 400;
            cursor: pointer;
        }
        ul.navbar-nav li,
        ul.navbar-nav a {
            font-size: 16px;
            vertical-align: middle;
            transition: none;
            font-family: 'Playfair Display', sans-serif;
            font-family: var(--font-headers), sans-serif;
            font-weight: 700;
        }
    }
    .navbar-controls {
        position: absolute;
        right: 15px;
        z-index: 1;
        top: 105px;
    }
    nav.navbar {
        border: 0;
        z-index: 20;
        -webkit-border-radius: 0;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 0;
        -moz-background-clip: padding;
        border-radius: 0;
        background-clip: padding-box;
        transition: background .8s ease;
        padding: 0px 0;
        margin-bottom: 0;
        vertical-align: top;
    }
}
.swiper-container {
    height: calc(100vh/1.2);
}
.homepage .swiper-slide-cover{
    transition: 8.5s ease-out;
    transform: scale(1.08);
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  
.homepage .swiper-slide.swiper-slide-duplicate.swiper-slide-duplicate-active .swiper-slide-cover {
    transform: scale(1);
}

.heading-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-51%, -50%);
    z-index: 99;
    @media (max-width:768px) {

    }
    h3, .text {
        color: white;
    }
}